.git
.github
.cursor
.DS_Store
node_modules
**/node_modules
**/dist
**/build
**/.cache
**/.turbo
**/.next
**/.vite
**/.eslintcache
**/*.log
.env
dev-certs
app/shared/node_modules
app/shared/package-lock.json
app/shared/package.json
