@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@relaykit/ui/src/fonts.css";
@import "@relaykit/ui/src/app-skin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}